<div id="article-alert" class="alert alert-dismissible rounded-0 fade show border-0" role="alert">
    <p class="h4 text-white text-center d-flex h-100 align-items-center justify-content-center m-0"><i
            class="far fa-bell fa-2x pr-2"></i><strong>Please note the date change for the Shaw Boxing Event. The Event
            will now take place on Tuesday, May 11, 2021.</strong></p>
    <button type="button" class="close h-100 text-white" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>